{% extends 'base.html.twig' %}

{% block title %}KROM Esport - À propos{% endblock %}

{% block meta %}
    <meta property="og:site_name" content="KROM Esport" />
    <meta property="og:image" content="https://www.krom-esport.fr/img/logos/krom_logo_fond_noir.png" />
    <meta property="og:title" content="À propos de KROM Esport" />
    <meta property="og:description" content="Découvrez l'histoire de KROM Esport, depuis ses débuts jusqu'à maintenant." />
    <meta name="description" content="Découvrez l'histoire de KROM Esport, depuis ses débuts jusqu'à maintenant." />

    <meta name="twitter:title" content="KROM Esport" />
    <meta name="twitter:image" content="https://www.krom-esport.fr/img/logos/krom_logo_fond_noir.png" />
    <meta name="twitter:description" content="Découvrez l'histoire de KROM Esport, depuis ses débuts jusqu'à maintenant." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="robots" content="noarchive" />
{% endblock %}


{% block body %}
    <!-- Page HTML pour l'histoire de l'association -->

    <main>
        <h2 class="h2_sous_nav">Notre histoire</h2>
        <p class="texte_info"><a class="chiffres_couleur">KROM Esport</a> est une équipe française de compétition automobile sur diverses simulations virtuelles.<br><br>
            À l'origine, KROM était une écurie inscrite dans un championnat de Formule 1, mis en place par la communauté VRC. <a class="chiffres_couleur">Nicolas Dhersin</a> et <a class="chiffres_couleur">Jean-Baptiste "JB" Thoreux</a> sont à l'origine de cette écurie, en <a class="chiffres_couleur">décembre 2019</a>. <br><br>

            C'est en <a class="chiffres_couleur">octobre 2020</a> que l'aventure commence réellement pour KROM. <a class="chiffres_couleur">Daniel De Sousa</a> propose à nos deux acolytes de créer <a class="chiffres_couleur">KROM Esport</a>, et c'est à ce moment que l'aventure commence. <br>
            Cet événement offre une nouvelle dimension à l'équipe, et surtout de nouvelles ambitions. <br><br>

            Le <a class="chiffres_couleur">2 novembre 2020</a> se déroule les 8 heures de Daytona, organisé encore une fois par nos amis de VRC. C'est à cette occasion que KROM participe à sa première endurance en tant qu'écurie à part entière.<br>
            Le travail et la cohésion d'équipe ont permis de faire une excellente performance dès la première course.
            En effet, on retrouve nos 3 prototypes sur le podium, ainsi que nos 2 GTs sur les deux plus hautes marches du podium dans leur catégorie. <br><br>

            Depuis, notre volonté de devenir un acteur important du Sim Racing français n'a <a class="chiffres_couleur">jamais faibli</a>. <br><br>

            Comptant sur l’expérience de leurs pilotes, KROM se développe constamment en s'appuyant sur ces 3 valeurs : <a class="chiffres_couleur">passion, performance, ambition</a>.<br><br>
        </p>

        <p class="texte_info">Au plaisir de vous croiser sur la grille de départ !</p>

    </main>
{% endblock %}