{% extends 'base.html.twig' %}

{% block title %}KROM Esport - 404{% endblock %}

{% block body %}
    <h2 class="h2_sous_nav">Page non trouvée</h2>

    <div class="error_404_parent">
        <p class="error_404_fils">La page que vous avez demandé est introuvable.</p>
        <p class="error_404_fils">Êtes-vous sûr d'avoir tapé le bon URL ?</p>
    </div>
{% endblock %}